attrs==23.1.0
backports.zoneinfo==0.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
click-plugins==1.1.1
cligj==0.7.2
Fiona==1.9.4.post1
geopandas==0.13.2
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
isodate==0.6.1
lxml==4.9.3
numpy==1.24.4
OWSLib==0.29.2
packaging==23.1
pandas==2.0.3
pandasql==0.7.3
pyogrio==0.6.0
pyparsing==3.1.0
pyproj==3.5.0
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
rdflib==6.3.2
requests==2.31.0
shapely==2.0.1
six==1.16.0
SQLAlchemy==2.0.19
trino==0.326.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.4
zipp==3.16.2
