# Default values for piveau.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  searchApiKey: mySearchApiKey
  repoApiKey: myRepoApiKey

tags:
  piveau-hub-repo: true
  piveau-hub-search: true
  piveau-hub-ui: true
  
piveau-hub-repo:
  imageTag: 2.2.3
  ingress:
    enabled: true
  virtuoso:
    persistence:
      enabled: true
piveau-hub-search:
  imageTag: 5.0.1
  ingress:
    enabled: true
piveau-hub-ui:
  # latest has problems: $VUE_APP_CONTENT_CATALOGS_FACETS_DEFAULT not defined
  # Setting it via env will be picked up but not replaced from the runtimeconfig.sh due to problem in js conf (missing quotes):
  # { ...
  #   showFacetsTitle:"$VUE_APP_CONTENT_CATALOGS_FACETS_SHOW_FACETS_TITLE",
  #   defaultFacetOrder:$VUE_APP_CONTENT_CATALOGS_FACETS_DEFAULT_FACET_ORDER
  # }
  imageTag: v1.13.3
  extraEnvs:
    # Do not use any authentication (default is keycloak for v1.12.1 and that takes about 10s to fail when loading the UI)
    - name: VUE_APP_AUTHENTICATION_USE_SERVICE
      value: "false"
    # picked up by the runtimeconfig.sh but not used in any of the XHR requests
    #- name: VUE_APP_CORSPROXY_API_URL
    #  value: "http://piveau.freiburg.stackable.tech/cors-proxy"
    #- name: VUE_APP_KEYCLOAK_ENABLE_LOGIN
    #  value: "false"
    #- name: VUE_APP_KEYCLOAK_REALM
    #  value: "piveau"
    #- name: VUE_APP_KEYCLOAK_CLIENT_ID
    #  value: "piveau-ui-hub"
    #- name: VUE_APP_KEYCLOAK_URL
    #  value: "https://keycloak:8080"
  ingress:
    enabled: true